.mainSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
  min-height: 0;
  padding: 40px;
}
.mainSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.mainSection > :global(.__wab_flex-container) > *,
.mainSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mainSection > :global(.__wab_flex-container) > picture > img,
.mainSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.form:global(.__wab_instance) {
  position: relative;
  width: 600px;
}
.formField:global(.__wab_instance) {
  position: relative;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__qEd4A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__n1OZe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formField2:global(.__wab_instance) {
  position: relative;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__bMp6F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__znKdL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__wqHp1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__d9Skc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.selectItem___7BcHs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wjifN {
  position: relative;
  object-fit: cover;
  max-width: 16%;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  max-height: 16px;
}
.svg__uqJeg {
  position: relative;
  object-fit: cover;
  max-width: 16%;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  min-width: 16px;
  min-height: 16px;
  max-height: 16px;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text___33PZp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__xkcyd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 250px;
  flex-shrink: 0;
}
.freeBox__fGbcu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.selectItem__ir86N:global(.__wab_instance) {
  max-width: 100%;
}
.svg__br7Uf {
  position: relative;
  object-fit: cover;
  max-width: 16%;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  max-height: 16px;
}
.svg__fEbJt {
  position: relative;
  object-fit: cover;
  max-width: 16%;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  min-width: 16px;
  min-height: 16px;
  max-height: 16px;
}
.text__ieyl4 {
  padding-bottom: 0px;
}
.cropper:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.button__e1Je2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.selectInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
}
