.mainSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  padding: 40px;
}
.navigationSidebar:global(.__wab_instance) {
  position: relative;
}
.menuItem:global(.__wab_instance) {
  position: relative;
  margin-top: 4px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-n3trVzkrA_FT);
}
.menuGroup:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
}
.topBar:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
