.mainContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  background: var(--token-2YFuS4TfIvaj);
  min-width: 0;
  border-radius: 6px;
  border: 1px solid var(--token-1aQyx2Mg7jd8);
}
.mainContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.mainContainer > :global(.__wab_flex-container) > *,
.mainContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mainContainer > :global(.__wab_flex-container) > picture > img,
.mainContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.mainContainershadow_smallShadow {
  box-shadow: 0px 1px 3px 0px #0000000a, 0px 1px 2px 0px #00000003;
}
.mainContainershadow_largeShadow {
  box-shadow: 0px 1px 3px 0px #0000000d, 0px 20px 25px -5px #0000000d,
    0px 10px 10px -5px #0000000a;
}
.mainContainerpadding_xs10Px > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.mainContainerpadding_xs10Px > :global(.__wab_flex-container) > *,
.mainContainerpadding_xs10Px
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.mainContainerpadding_xs10Px > :global(.__wab_flex-container) > picture > img,
.mainContainerpadding_xs10Px
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 10px;
}
.mainContainerpadding_sm16Px > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.mainContainerpadding_sm16Px > :global(.__wab_flex-container) > *,
.mainContainerpadding_sm16Px
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.mainContainerpadding_sm16Px > :global(.__wab_flex-container) > picture > img,
.mainContainerpadding_sm16Px
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 10px;
}
.header {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 34px 34px 0px;
}
.header > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.headerhideHeader {
  display: none;
}
.headerpadding_xs10Px {
  padding: 10px 10px 0px;
}
.headerpadding_sm16Px {
  padding: 16px 16px 0px;
}
.headerpadding_md22Px {
  padding: 22px 22px 0px;
}
.headerpadding_lg28Px {
  padding: 28px 28px 0px;
}
.freeBox__ga3Bb {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox___9HqKe {
  display: flex;
  position: relative;
}
.slotTargetChildren {
  font-size: 14px;
  font-weight: 600;
  color: var(--token-nxgj4HT_seIz);
  line-height: 20px;
  font-family: var(--GeistSans);
}
.freeBox__ccrmi {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBox__pvzrt {
  display: flex;
  position: relative;
}
.slotTargetSlot {
  font-family: var(--GeistSans);
  font-size: 12px;
  font-weight: 400;
  color: var(--token-n3trVzkrA_FT);
}
.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 34px 34px;
}
.bodyhideHeader {
  padding: 10px;
}
.bodypadding_xs10Px {
  padding: 0px 10px 10px;
}
.bodypadding_sm16Px {
  padding: 0px 16px 16px;
}
.bodypadding_md22Px {
  padding: 0px 22px 22px;
}
.bodypadding_lg28Px {
  padding: 0px 28px 28px;
}
.bodyhideHeader_padding_xs10Px {
  padding-top: 10px;
}
.bodyhideHeader_padding_sm16Px {
  padding-top: 16px;
}
.bodyhideHeader_padding_md22Px {
  padding-top: 22px;
}
.bodyhideHeader_padding_lg28Px {
  padding-top: 28px;
}
.bodyhideHeader_padding_xl34Px {
  padding: 34px;
}
