@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-300-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-300-normal.woff) format('woff');
}

@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-400-normal.woff) format('woff');
}

@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-500-normal.woff) format('woff');
}

@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-600-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-600-normal.woff) format('woff');
}

@font-face {
    font-family: 'Geist Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/geist-sans@latest/latin-700-normal.woff) format('woff');
}

.ant-input-group-wrapper {
    margin: 0 !important;
}

.ant-input-group-wrapper-sm .ant-input {
    line-height: 32px !important;
    font-size: 14px !important;
    padding-top: 0;
    padding-bottom: 0;
}

.ant-input-group-wrapper .ant-input {
    line-height: 36px;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
}

.ant-input-group-wrapper-lg .ant-input {
    line-height: 42px !important;
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 0;
}